h1 {
	color: purple;
}

.hobbies {
	color: purple;
	font-size: 20px;
	font-style: Georgia;
}

.human {
	background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
	background-size: cover;

}